<template>
<v-flex xs1>
<div class="text-xs-center" >
   
    <v-menu offset-y>
      
      <v-btn flat dark small color="purple lighten-5" slot="activator">
      <v-icon dark>category</v-icon>
    </v-btn>
      
     
    
      <v-list>
        <v-list-tile v-for="item in items" :key="item.title" :data-cat="item.cat" @click='setCategory'>
          <v-list-tile-title>{{ item.display }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </div>
</v-flex>
</template>
<script>
export default {
  name: 'Categories',
  data: () => ({
      items: [
        { cat: '', display: 'all' },
        { cat: 'Business', display: 'Business' },
        { cat: 'Entertainment', display: 'Entertainment'  },
        { cat: 'General', display: 'General'  },
        { cat: 'Health', display: 'Health'  },
        { cat: 'Science', display: 'Science'  },
        { cat: 'Sports', display: 'Sports'  },
        { cat: 'Technology', display: 'Technology'  }
      ],
      cat: ''
    }),
    methods: {
      setCategory(el) {
        this.$emit('categoriesEmit', el.target.dataset.cat)
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
