<template>
<v-flex xs1>
  <div class>
    <v-menu offset-y fixed>
      <v-btn flat dark small color="purple lighten-5" slot="activator">
      <v-icon dark>flag</v-icon>
    </v-btn>
      <v-list>
        <v-list-tile v-for="item in items" :key="item.full" :data-country="item.short" @click='setCountry'>
          <v-list-tile-title>{{ item.full }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </div>
</v-flex>
</template>

<script>
  export default {
    name: 'Countries',
    data: () => ({
      items: [{
          short: '',
          full: 'All'
        },
        {
          short: 'de',
          full: 'Germany'
        },
        {
          short: 'gb',
          full: 'United Kingdom'
        },
        {
          short: 'pl',
          full: 'Poland'
        },
        {
          short: 'ru',
          full: 'Russia'
        },
        {
          short: 'hu',
          full: 'Hungary'
        }
      ],
      country: ''
    }),
    methods: {
      setCountry(el) {
        this.$emit('countriesEmit', el.target.dataset.country)
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
