<template>
  <div v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="0" infinite-scroll-throttle-delay='200'>
    <transition name="fade">
      <v-layout row wrap justify-space-around fluid class='container main-container'>
        <v-flex md5 v-for="(item, index) in newsData" v-bind:key='index' v-if='newsData.length > 0' class='card-container'>
          <v-card height='100%' class='card'> 
            <v-card-media class='card__image' v-bind:src="item.urlToImage" height="240px" transition="scale-transition">
              <v-container fill-height justify-center flexbox class='headline-container'>
                <v-layout align-end>
                  <v-flex xs12 align-center justify-center flexbox>
                    <span class="title">{{item.title}}</span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-media>
            <v-card-actions :data-link="item.url">
              <v-spacer></v-spacer>
            </v-card-actions>
            <v-slide-y-transition>
              <v-card-text align-end class='card-text'>
                <span class='date'>{{dateTransform[index]}}</span>
                <a :href='twitterUrl[index]' target="_blank" class='twitter-icon'>
                  <svg viewBox="0 0 128 128" class='twitter-icon__svg'>
                    <path id="original" class="cls-1" d="M40.58,115.3c47.64,0,73.69-39.47,73.69-73.69,0-1.12,0-2.24-.07-3.35a52.7,52.7,0,0,0,12.92-13.41,51.7,51.7,0,0,1-14.87,4.08A26,26,0,0,0,123.63,14.6a51.9,51.9,0,0,1-16.45,6.29A25.92,25.92,0,0,0,63.05,44.51,73.53,73.53,0,0,1,9.67,17.45a25.92,25.92,0,0,0,8,34.58A25.71,25.71,0,0,1,6,48.78c0,.11,0,.22,0,.33A25.91,25.91,0,0,0,26.73,74.5a25.86,25.86,0,0,1-11.7.44,25.93,25.93,0,0,0,24.2,18A52,52,0,0,1,7.06,104a52.72,52.72,0,0,1-6.18-.36,73.32,73.32,0,0,0,39.7,11.63" transform="translate(-0.88 -12.7)"></path>
                  </svg>
                </a>
                <div>{{item.description || 'No description'}}</div>
                <div class="text-xs-right">
                  
                  <v-btn flat dark small color="blue-grey darken-4" slot="activator" target="blank" :href="item.url" class='share'>
                    <v-icon dark>link</v-icon>
                  </v-btn>
                </div>
              </v-card-text>
            </v-slide-y-transition>
          </v-card>
        </v-flex>
      </v-layout>
    </transition>
    <transition name="fade">
      <v-progress-circular indeterminate :size="50" color="grey darken-4" class='loading-icon' v-if='loading' :width="7"></v-progress-circular>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'Lastest',
    props: {
      'category': {
        default: '',
        type: String
      },
      'country': {
        default: 'gb',
        type: String
      },
      'q': {
        default: '',
        type: String
      }
    },
    watch: {
      category(newValue) {
        this.fetchNews()
      },
      country(newValue) {
        this.fetchNews()
      },
      q(newValue) {
        this.fetchNews()
      },
  
      /*adding id for each news 
      newsData(newValue) {
        const gen = this.generateId();
        return newValue.map((item) => {
          item.id = gen.next()
          item.show = true
        })
      }*/
    },
    data: () => ({
      show: false,
      newsData: [],
      busy: false,
      perPage: 8,
      loading: false,
    }),
    computed: {
      dateTransform() {
        return this.newsData.map(function(item) {
          let date = item.publishedAt;
          return date.slice(0, -4).replace(/T/, ' ')
        });
      },
      twitterUrl() {
        return this.newsData.map(function(item) {
          let url = item.url;
          return `https://twitter.com/share?url=${url}&text=newsapi`
        })
      }
    },
    methods: {
      fetchNews() {
        this.loading = true;
        fetch(`https://newsapi.org/v2/top-headlines?country=${this.country}&pagesize=${this.perPage}&category=${this.category}&q=${this.q}&apiKey=c70c6b881578467e8d65672d0783c383`)
          .then(resp => resp.json())
          .then(resp => {
            console.log(resp)
            this.newsData = resp.articles
            this.loading = false
          })
      },
      loadMore() {
        if (this.perPage <= 20) {
          this.perPage += 4
          this.fetchNews();
        }
        if (this.perPage === 20) {
          this.busy = true
        }
      }
      /*generateId: function*() {
        let index = 0;
        while (index < 94)
          yield index++;
      }*/
    },
    mounted() {
      this.fetchNews()
    }
  }
</script>

<style scoped>
  .card-container {
    margin-top: 2rem;
  }
  
  .main-container {
    margin-top: 6rem;
  }
  
  .loading-icon {
    font-size: 48px;
    position: fixed;
    bottom: 8px;
    left: 48.5%;
  }
  
  .title {
    width: 100%;
    font-weight: 700;
    color: #fff;
  }
  
  .headline-container {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.02) 2%, rgba(10, 26, 42, 1) 99%, rgba(7, 24, 40, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.02) 2%, rgba(10, 26, 42, 1) 99%, rgba(7, 24, 40, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.02) 2%, rgba(10, 26, 42, 1) 99%, rgba(7, 24, 40, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#071828', GradientType=0);
  }
  
  .date {
    position: absolute;
    bottom: 4px;
    right: 8px;
    font-weight: 500;
  }
  
  .twitter-icon__svg {
    width: 18px;
    fill: #1dcaff;
    transition: .2s all ease-in-out;
  }
  
  .twitter-icon__svg:hover {
    fill: #0084b4
  }
  
  .twitter-icon {
    position: absolute;
    top: 24px;
    left: 16px;
  }
  
  .card-text {
    height: 172px;
  }
  
  .share {
    position: absolute;
    bottom: 24px;
    right: 0px;
  }
</style>
