<template>
    
      <v-flex xs3>
        <v-text-field
          name="input-2"
          v-model="text"
          v-on:keyup='search'
          color="purple lighten-5"
          prepend-icon="search"
        ></v-text-field>
      </v-flex>
    
</template>
<script>

export default {
  name: 'Search',
  data () {
    return {
      text: '',
      //categoriesList: ['ae', 'ar', 'at', 'au', 'be', 'bg', 'br', 'ca', 'ch', 'cn', 'co', 'cu', 'cz', 'de', 'eg', 'fr','gb', 'gr', 'hk', 'hu', 'id', 'ie', 'il', 'in', 'it', 'jp', 'kr', 'lt', 'lv', 'ma', 'mx', 'my', 'ng', 'nl', 'no', 'nz', 'ph', 'pl', 'pt', 'ro', 'rs', 'ru', 'sa', 'se', 'sg', 'si', 'sk', 'th', 'tr', 'tw' ,'ua' ,'us', 've', 'za']
    }
  },
  methods: {
    search() {
       this.$emit('searchEmit', this.text)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
