<template>
  <v-app id='app'>
    <v-layout row wrap  fluid class='container main-container'>
      <v-toolbar color="grey darken-4" dark tabs fixed flex-wrap justify-center height='84px'>
        
        <Categories @categoriesEmit="setCategory"></Categories>
        <Countries @countriesEmit="setCountry"></Countries>
        <v-spacer></v-spacer>
        <Search @searchEmit='setSearchQ'></Search>
      </v-toolbar>
      <Lastest :category='category' :country='country' :q='q'></Lastest>
    </v-layout>
  </v-app>
</template>

<script>
  import Search from '@/components/Search'
  import Lastest from '@/components/Lastest'
  import Categories from '@/components/Categories'
  import Countries from '@/components/Countries'
  export default {
    name: 'App',
    components: {
      Search,
      Lastest,
      Categories,
      Countries
    },
    data: () => ({
      category: '',
      country: 'gb',
      q: ''
    }),
    methods: {
      setCategory: function(val) {
        this.category = val
      },
      setCountry: function(val) {
        this.country = val
      },
      setSearchQ: function(val) {
        this.q = val
      }
    }
  }
</script>

<style>
  
</style>
